.continent {
	border-radius: 2px 2px 2px 2px;
	margin: 0.5rem;
}

.title {
	align-self: center;
	text-align: center;
	border-radius: 2px;
	background-color: var(--color-foreground);
	margin-bottom: 0.5rem;
	padding: 0.15rem 1rem;
}

.open {
	padding: 0px 6px 0px 2px;
	margin: 0;
	display: flex;
	flex-direction: column;
	width: 275px;
	height: fit-content;
	max-height: calc(100vh - 1.5rem - 55px);
	overflow-x: hidden;
	overflow-y: auto;
}

.open::-webkit-scrollbar {
	width: 6px;
	border-radius: 6px;
}

.open::-webkit-scrollbar-track {
	background-color: var(--color-foreground-alpha);
	border-radius: 6px;
}

.open::-webkit-scrollbar-thumb {
	background-color: var(--color-primary);
	border-radius: 6px;
}

.close {
	display: none;
}

.open li {
	display: flex;
	list-style: none;
	align-self: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0.25rem;
}

.button {
	width: stretch;
	border-radius: 2px;
	background-color: var(--color-foreground-alpha);
	backdrop-filter: blur(10px);
	padding: 0.25rem 0.5rem;
}

.button:hover {
	background-color: var(--color-primary);
	text-decoration: none;
}

@media screen and (max-width: 1160px) {
	.title {
		width: 275px;
	}
	.open {
		overflow-y: hidden;
		max-height: fit-content;
	}
}
