@charset "utf-8";
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;800&display=swap");

:root {
	/* Colors */
	--color-foreground: hsl(0, 0%, 25%);
	--color-foreground-alpha: hsl(0, 0%, 50%, 0.251);
	--color-background: hsl(0, 0%, 10%);
	--color-primary: hsl(243, 99%, 71%);
	--color-primary-alpha: hsla(243, 99%, 71%, 0.251);
	--color-secundary: hsl(11, 100%, 50%);
	--color-secundary-alpha: hsla(11, 100%, 50%, 0.25);
	--color-text: hsl(300, 33%, 99%);
	--color-text-alt: hsl(300, 33%, 1%);

	--color-danger: hsl(9, 84%, 56%);
	--color-warning: hsl(55, 82%, 62%);
	--color-success: hsl(150, 81%, 44%);

	/* Margins */
	--pading: 32px;
	--margin: 1rem;

	/* Fonts */
	font-size: 16px;
	--font-thin: 100;
	--font-extra-light: 200;
	--font-light: 300;
	--font-regular: 400;
	--font-medium: 500;
	--font-bold: 700;
	--font-extra-bold: 800;
	--font-black: 900;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

h1,
h2,
h3,
p,
a,
button,
span {
	text-decoration: none;
}

h1 {
	font-family: "Noto Sans", sans-serif;
	font-size: 1.802rem;
	font-weight: var(--font-extra-bold);
	margin: none;
	line-height: 1.3;
}

h2 {
	font-family: "Noto Sans", sans-serif;
	font-size: 1.602rem;
	font-weight: var(--font-extra-bold);
	margin: none;
	line-height: 1.3;
}

h3 {
	font-family: "Noto Sans", sans-serif;
	font-size: 1.424rem;
	font-weight: var(--font-extra-bold);
	margin: none;
	line-height: 1.3;
}

h4 {
	font-family: "Noto Sans", sans-serif;
	font-size: 1.266rem;
	font-weight: var(--font-extra-bold);
	margin: none;
	line-height: 1.3;
}

h5 {
	font-family: "Noto Sans", sans-serif;
	font-size: 1.125rem;
	font-weight: var(--font-extra-bold);
	margin: none;
	line-height: 1.3;
}

h6 {
	font-family: "Noto Sans", sans-serif;
	font-size: 0.889rem;
	font-weight: var(--font-extra-light);
	margin: none;
	line-height: 1.3;
}

p {
	font-family: "Noto Sans", sans-serif;
	font-size: 1rem;
	font-weight: var(--font-regular);
	margin: none;
	line-height: 1.3;
}

a {
	font-family: "Noto Sans", sans-serif;
	font-size: 1rem;
	font-weight: var(--font-regular);
	margin: none;
	line-height: 1.3;
}

a:link,
a:visited {
	color: var(--color-text);
}

a:hover,
a:active {
	color: var(--color-text);
	text-decoration: underline;
}

.icon {
	fill: var(--color-text);
}

.App {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 96px 1fr;
	flex-direction: column;
	justify-content: center;
}
.App > * {
	align-self: center;
}
.Menu {
	grid-row: 1;
	grid-column: 1;
}
.Main {
	grid-row: 1;
	grid-column: 2;
}

.charts {
	display: grid;
	height: 100vh;
	grid-template-rows: 70px 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 350px;
	grid-gap: 1rem;
	padding: 1.5rem;
	color: var(--color-text);
}
.title {
	grid-row: 1;
	grid-column: 1 / span 3;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	align-items: flex-end;
	list-style: 0;
}
.cases {
	grid-row: 2 / span 2;
	grid-column: 1 / span 2;
}
.lastdays {
	grid-row: 3;
	grid-column: 3;
}
.vaccinations {
	grid-row: 4;
	grid-column: 3;
}
.deaths {
	grid-row: 4;
	grid-column: 1 / span 2;
}
.stats {
	grid-row: 2;
	grid-column: 3;
}
.section {
	background-color: var(--color-foreground);
	padding: 1rem;
	border-radius: 2px;
}

.content {
	border-radius: 8px;
	margin-top: 1rem;
	height: calc(100% - 3rem);
}
.content > div {
	width: 100%;
	height: 100%;
}
.content > svg {
	object-fit: cover;
}
.content h1 {
	align-self: center;
	text-align: center;
}
.temp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 8px;
}
.tick text {
	fill: var(--color-text);
	font-family: "Noto Sans", sans-serif;
	font-size: 0.75rem;
	font-weight: var(--font-regular);
	text-decoration: none;
	text-anchor: left;
}
.alert0 {
	box-shadow: 0px 0px 0px 0px #15cd72;
}
.alert1 {
	box-shadow: 0px 0px 0px 2px #15cd72;
}
.alert2 {
	box-shadow: 0px 0px 0px 2px #ede04d;
}
.alert3 {
	box-shadow: 0px 0px 0px 3px #ede04d;
}
.alert4 {
	box-shadow: 0px 0px 0px 4px #ede04d;
}
.alert5 {
	box-shadow: 0px 0px 0px 4px #ed4f32;
}
.alert6 {
	box-shadow: 0px 0px 0px 5px #ed4f32;
}

@media screen and (max-width: 768px) {
	body {
		overflow: auto;
	}
	.App {
		grid-template-rows: 52px 1fr;
		grid-template-columns: 1fr;
	}

	.Menu {
		grid-row: 1;
		grid-column: 1;
	}
	.Main {
		grid-row: 2;
		grid-column: 1;
	}
	.charts {
		height: auto;
		grid-template-rows: auto auto auto 250px 250px 250px;
		grid-template-columns: 1fr;
		padding: 1.5rem 2rem;
	}
	.title {
		grid-column: 1;
		flex-direction: column;
		align-items: flex-start;
	}
	.title > h1 {
		font-size: 0;
	}
	.title > div {
		align-self: flex-end;
	}
	.cases {
		grid-row: 4;
		grid-column: 1;
	}
	.lastdays {
		grid-row: 5;
		grid-column: 1;
	}
	.vaccinations {
		grid-row: 3;
		grid-column: 1;
	}
	.deaths {
		grid-row: 6;
		grid-column: 1;
	}
	.stats {
		grid-row: 2;
		grid-column: 1;
	}
}
