.cases_sub {
	stroke: var(--color-primary-alpha);
	stroke-width: 1;
}
.cases_main {
	stroke: var(--color-primary);
	stroke-width: 2;
}
.cases_sub_red {
	stroke: var(--color-secundary-alpha);
	stroke-width: 1;
}
.cases_main_red {
	stroke: var(--color-secundary);
	stroke-width: 2;
}
