:root {
  /* Colors Values */
  --hsl-primary: 229, 84%, 5%;
  --hsl-secondary: 214, 32%, 91%;
  --hsl-accent: 196, 89%, 62%;
  --hsl-neutral-muted: 213, 27%, 84%;
  --hsl-neutral-subtle: 214, 32%, 91%;
  --hsl-background: 210, 40%, 98%;
  --hsl-danger: 9, 84%, 56%;
  --hsl-warning: 55, 82%, 62%;
  --hsl-success: 150, 81%, 44%;

  /* Colors */
  --color-primary: hsl(var(--hsl-primary));
  --color-secondary: hsl(var(--hsl-secondary));
  --color-accent: hsl(var(--hsl-accent));
  --color-accent-background: hsla(var(--hsl-accent), 0.25);
  --color-danger: hsl(var(--hsl-danger));
  --color-danger-background: hsla(var(--hsl-danger), 0.25);
  --color-warning: hsl(var(--hsl-warning));
  --color-success: hsl(var(--hsl-success));
  --color-neutral-muted: hsl(var(--hsl-neutral-muted));
  --color-neutral-subtle: hsl(var(--hsl-neutral-subtle));
  --color-background: hsl(var(--hsl-background));

  --top-margin: 10vh;
  --padding: 6px;
  --border-radius: 10px;
  --inner-border-radius: calc(var(--border-radius) - var(--padding));
  --menu-width: 130px;
  --menu-button-margin: 10px;
  --menu-button-height: 30px;
  --max-width: 1440px;
  --breakpoint: 768px;

  /* Fonts */
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;
}

@media (prefers-color-scheme: dark) {
  :root {
    --hsl-primary: 210, 40%, 98%;
    --hsl-secondary: 214, 32%, 91%;
    --hsl-neutral-muted: 215, 25%, 27%;
    --hsl-neutral-subtle: 217, 33%, 17%;
    --hsl-background: 229, 84%, 5%;
  }

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
}

h1,
h2,
h3,
p,
a,
button,
span {
  text-decoration: none;
}

h1 {
  margin: none;
  font-weight: var(--font-extra-bold);
  font-size: 2.25rem;
  line-height: 2;
  text-decoration: none;
}

h2 {
  margin: none;
  font-weight: var(--font-extra-bold);
  font-size: 1.5rem;
  line-height: 1.7;
  text-decoration: none;
}

h3 {
  margin: none;
  font-weight: var(--font-extra-bold);
  font-size: 1rem;
  line-height: 1.4;
  text-decoration: none;
}

p {
  margin: none;
  font-weight: var(--font-regular);
  font-size: 1rem;
  line-height: 1.4;
  text-decoration: none;
}

a {
  margin: none;
  font-weight: var(--font-extra-bold);
  font-size: 1rem;
  line-height: 1.4;
  text-decoration: none;
}

a:link,
a:visited {
  color: var(--color-primary);
}

a:hover,
a:active {
  color: var(--color-primary);
  text-decoration: underline;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  gap: var(--padding);
  margin: 0 auto;
  padding: var(--padding);
  width: 100%;
  max-width: var(--max-width);
}

.main {
  display: flex;
  width: 100%;
}
