@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

:root {
	/* Colors */
	--day: #e6e6e6;
	--night: #1a1a1a;

	--dayStep01: #46c8f5;
	--dayStep02: #8accff;
	--dayStep03: #b8d1ff;
	--dayStep04: #d9d8fd;

	--nightStep01: #402cc2;
	--nightStep02: #19248d;
	--nightStep03: #011858;
	--nightStep04: #030227;

	/* Effect Stules */
	--glowBlur: blur(10px);

	/* Margins */
	--border: 0.6rem;
	--margin: 0.2rem;
	--pading: 0.6rem;
	--borderRadius: 0.2rem;
	--strokeBorder: 0.1rem;

	/* Fonts */
	font-size: 16px;
	--thin: 100;
	--light: 300;
	--regular: 400;
	--medium: 500;
	--bold: 700;
	--extra-bold: 800;
	--black: 900;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	background: var(--day) none repeat scroll 0% 0%;
	color: var(--night);
}

body {
	overflow: hidden;
}

span,
p,
a,
button {
	text-decoration: none;
}

h1 {
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 4rem;
	font-weight: var(--extra-bold);
	text-decoration: none;
	margin: none;
}

h2 {
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 2.375rem;
	font-weight: var(--extra-bold);
	text-decoration: none;
	margin: none;
}

p {
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 0.75rem;
	font-weight: var(--extra-bold);
	text-decoration: none;
	margin: none;
}

a {
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 0.75rem;
	font-weight: var(--extra-bold);
	text-decoration: none;
	margin: none;
}

/* main */

.cont {
	display: grid;
	padding: var(--border);
	width: 100vw;
	height: 100vh;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto repeat(2, 1fr) auto;
	gap: var(--margin);
	justify-content: center;
}

.inner {
	grid-column: 1;
	grid-row: 1;
	width: 100%;
}

.legend {
	position: absolute;
	color: white;
	background-color: var(--dayStep01);
	font-size: 0.75rem;
	border-radius: calc(var(--borderRadius) - 2px) 0px var(--borderRadius) 0px;
	padding: calc(var(--pading) / 6) var(--pading);
}

.topBar {
	grid-column: 1 / span 3;
	grid-row: 1;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: var(--day);
	padding: calc(var(--pading) / 2) var(--pading);
	border-radius: var(--borderRadius);
	border: var(--strokeBorder) solid var(--dayStep01);
	align-items: center;
	justify-content: space-between;
}

.menuBar {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

button {
	background-color: var(--dayStep01);
	border: none;
	color: var(--day);
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: var(--borderRadius);
	font-size: 1rem;
}

.cases {
	grid-column: 1 / span 2;
	grid-row: 2 / span 2;
	display: grid;
	position: relative;
	background-color: var(--day);
	padding: var(--pading);
	border-radius: var(--borderRadius);
	border: var(--strokeBorder) solid var(--dayStep01);
}

.vaccination {
	grid-column: 3;
	grid-row: 2;
	display: grid;
	position: relative;
	background-color: var(--day);
	padding: var(--pading);
	border-radius: var(--borderRadius);
	border: var(--strokeBorder) solid var(--dayStep01);
}

.lastDays {
	grid-column: 3;
	grid-row: 3;
	display: grid;
	position: relative;
	background-color: var(--day);
	padding: var(--pading);
	border-radius: var(--borderRadius);
	border: var(--strokeBorder) solid var(--dayStep01);
}

.dayInfo {
	grid-column: 1 / span 3;
	grid-row: 4;
	display: flex;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: var(--margin);
	justify-content: center;
}

.dayInfo p {
	font-size: 0.75rem;
}

.innerDay {
	display: flex;
	grid-column: 1;
	grid-row: 1;
	position: relative;
	width: 100%;
	background-color: var(--day);
	padding: calc(var(--pading) / 2) var(--pading);
	border-radius: var(--borderRadius);
	border: var(--strokeBorder) solid var(--dayStep01);
	align-items: center;
}
.innerCases {
	display: flex;
	grid-column: 2;
	grid-row: 1;
	width: 100%;
	position: relative;
	background-color: var(--day);
	padding: calc(var(--pading) / 2) var(--pading);
	border-radius: var(--borderRadius);
	border: var(--strokeBorder) solid var(--dayStep01);
	align-items: center;
}
.innerDeaths {
	display: flex;
	grid-column: 3;
	grid-row: 1;
	width: 100%;
	position: relative;
	background-color: var(--day);
	padding: calc(var(--pading) / 2) var(--pading);
	border-radius: var(--borderRadius);
	border: var(--strokeBorder) solid var(--dayStep01);
	align-items: center;
}
/* Line Charts */

.graph {
	fill: none;
	stroke: var(--nightStep01);
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.graphGlow {
	fill: none;
	stroke: none;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
	filter: none;
}

.axis line {
	stroke: rgba(3, 2, 39, 0.1);
	stroke-linecap: round;
	stroke-linejoin: round;
}

.axis path {
	stroke: var(--night);
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.dangerLines line {
	stroke: var(--night);
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.dangerLines text {
	fill: var(--night);
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 0.625rem;
	font-weight: var(--extra-bold);
	text-decoration: none;
	margin: none;
}

.dangerGlow {
	stroke: none;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.axis text {
	fill: var(--night);
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 0.625rem;
	font-weight: var(--extra-bold);
	text-decoration: none;
	margin: none;
}

/* Vaccination Chart */
.vax0 {
	fill: rgba(0, 0, 0, 0.5);
}
.vax1 {
	fill: rgba(78, 78, 78, 0.5);
}
.vax2 {
	fill: rgba(162, 162, 162, 0.5);
}
.vax3 {
	fill: rgba(255, 255, 255, 0.5);
}
.arc {
	fill: var(--nightStep01);
}
.arcGlow {
	fill: none;
	filter: none;
}
.arcLegend {
	position: absolute;
	width: calc(100% - var(--pading) * 2);
	top: calc(50% - 2.7rem);
	display: flex;
}
.arcLegendArea {
	margin: auto;
	display: grid;
	grid-template-columns: auto auto;
	gap: var(--gap);
	justify-content: center;
	align-content: center;
	background-color: var(--nightStep01);
	border-radius: var(--borderRadius);
	/* padding: var(--margin); */
}
.arcLegend p {
	font-size: 0.625rem;
	text-align: center;
}

#vaxLegend0 {
	padding: var(--margin);
	border-radius: var(--borderRadius);
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--day);
}
#vaxLegend1 {
	padding: var(--margin);
	border-radius: var(--borderRadius);
	background-color: rgba(78, 78, 78, 0.5);
	color: var(--day);
}
#vaxLegend2 {
	padding: var(--margin);
	border-radius: var(--borderRadius);
	background-color: rgba(162, 162, 162, 0.5);
	color: var(--day);
}
#vaxLegend3 {
	padding: var(--margin);
	border-radius: var(--borderRadius);
	background-color: rgba(255, 255, 255, 0.5);
	color: var(--night);
}

/* Menu */

@media (prefers-color-scheme: dark) {
	body {
		background: var(--night) none repeat scroll 0% 0%;
		color: var(--day);
	}

	button {
		background-color: var(--nightStep01);
		color: var(--day);
	}

	.legend {
		background-color: var(--nightStep01);
	}

	.topBar {
		background-color: var(--night);
		border: var(--strokeBorder) solid var(--nightStep01);
	}

	.cases {
		background-color: var(--night);
		border: var(--strokeBorder) solid var(--nightStep01);
	}

	.vaccination {
		background-color: var(--night);
		border: var(--strokeBorder) solid var(--nightStep01);
	}

	.lastDays {
		background-color: var(--night);
		border: var(--strokeBorder) solid var(--nightStep01);
	}

	.innerDay {
		background-color: var(--night);
		border: var(--strokeBorder) solid var(--nightStep01);
	}
	.innerCases {
		background-color: var(--night);
		border: var(--strokeBorder) solid var(--nightStep01);
	}
	.innerDeaths {
		background-color: var(--night);
		border: var(--strokeBorder) solid var(--nightStep01);
	}

	/* Line Charts */

	.graph {
		stroke: var(--dayStep01);
	}

	.graphGlow {
		stroke: var(--dayStep01);
		filter: var(--glowBlur);
	}

	.axis line {
		stroke: rgba(217, 216, 253, 0.1);
	}

	.axis path {
		stroke: var(--day);
	}

	.axis text {
		fill: var(--day);
	}

	.dangerLines line {
		stroke: var(--dayStep04);
	}

	.dangerGlow line {
		stroke: var(--dayStep04);
		filter: var(--glowBlur);
	}

	.dangerLines text {
		fill: var(--day);
	}
	/* TODO Glow */

	/* Vaccination Chart */

	.arc {
		fill: var(--dayStep01);
	}
	.arcGlow {
		fill: var(--dayStep01);
		filter: var(--glowBlur);
	}
	.arcLegendArea {
		background-color: var(--dayStep01);
	}
	#vaxLegend0 {
		color: var(--day);
	}
	#vaxLegend1 {
		color: var(--day);
	}
	#vaxLegend2 {
		color: var(--night);
	}
	#vaxLegend3 {
		color: var(--night);
	}
}

@media screen and (max-width: 810px) {
	.cont {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto 2fr 1fr auto;
	}

	.topBar {
		grid-column: 1 / span 2;
		grid-row: 1;
	}

	.cases {
		grid-column: 1 / span 2;
		grid-row: 2;
	}

	.vaccination {
		grid-column: 1;
		grid-row: 3;
	}

	.lastDays {
		grid-column: 2;
		grid-row: 3;
	}

	.dayInfo {
		grid-column: 1 / span 2;
		grid-row: 4;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.innerDay {
		grid-column: 1;
	}

	.innerCases {
		grid-column: 2;
	}

	.innerDeaths {
		grid-column: 3;
	}
}

@media screen and (max-width: 566px) {
	.cont {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 3fr 3fr;
	}

	.topBar {
		grid-column: 1;
		grid-row: 1;
	}

	.cases {
		grid-column: 1;
		grid-row: 2;
		display: none;
	}

	.vaccination {
		grid-column: 1;
		grid-row: 4;
	}

	.lastDays {
		grid-column: 1;
		grid-row: 3;
	}

	.dayInfo {
		flex-direction: column;
		grid-column: 1;
		grid-row: 2;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.innerDay {
		grid-column: 1;
		grid-row: 1;
	}

	.innerCases {
		grid-column: 1;
		grid-row: 2;
	}

	.innerDeaths {
		grid-column: 1;
		grid-row: 3;
	}
}

@media screen and (max-height: 566px) {
	.cont {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto 1fr;
	}

	.topBar {
		grid-column: 1 / span 2;
		grid-row: 1;
	}

	.cases {
		grid-column: 1;
		grid-row: 2;
		display: none;
	}

	.vaccination {
		grid-column: 1;
		grid-row: 3;
	}

	.lastDays {
		grid-column: 2;
		grid-row: 3;
	}

	.dayInfo {
		flex-direction: row;
		grid-column: 1 / span 2;
		grid-row: 2;
	}

	.innerDay {
		grid-column: 1;
		grid-row: 1;
	}

	.innerCases {
		grid-column: 2;
		grid-row: 1;
	}

	.innerDeaths {
		grid-column: 3;
		grid-row: 1;
	}
}
