.data {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.title h3 {
	color: var(--color-secundary);
}

.new {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.status h3 {
	color: var(--color-text);
}
